---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Impressum | Julian Hilgemann">
    <Section>
        <div class="max-w-prose mx-auto pt-10">
            <h1 class="text-3xl font-bold mb-8">Impressum</h1>

            <div class="space-y-8 text-text-secondary">
                <div>
                    <h2 class="text-xl font-bold text-white mb-2">
                        Angaben gemäß § 5 TMG
                    </h2>
                    <p>
                        Julian Hilgemann<br />
                        Josef‑Führer‑Straße 41<br />
                        80997 München
                    </p>
                </div>

                <div>
                    <h2 class="text-xl font-bold text-white mb-2">Kontakt</h2>
                    <p>
                        E‑Mail: <a
                            href="mailto:hilgemann.julian@gmail.com"
                            class="text-primary hover:underline"
                            >hilgemann.julian@gmail.com</a
                        >
                    </p>
                </div>

                <div>
                    <h2 class="text-xl font-bold text-white mb-2">
                        Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
                    </h2>
                    <p>Julian Hilgemann (Anschrift wie oben)</p>
                </div>
            </div>
        </div>
    </Section>
</Layout>
